<%= form_with(model: annoncesmiseenavant, local: true) do |form| %>
  <% if annoncesmiseenavant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(annoncesmiseenavant.errors.count, "error") %> prohibited this annoncesmiseenavant from being saved:</h2>

      <ul>
      <% annoncesmiseenavant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :annonce_id %>
    <%= form.text_field :annonce_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
