<!------------ Sign in and sign up modal content -------------->
    <!-- Font Icon -->
    <link rel="stylesheet" href="/regform/fonts/material-icon/css/material-design-iconic-font.min.css">
    <!-- Main css -->
    <link rel="stylesheet" href="/regform/css/style.css">
<!------------------------------------------------------------->
<div class="row sign_in_and_sign_up__header_title">
  <div class="col-md-12 h-100 "  >
    <br>
    <h1 style=" font-size:5vw; padding:0px; margin:0px; margin-left:50px;"  >S'inscrire </h1>
  </div>
</div>
<!-- Modal body -->
<div class="modal-body mt-5 mb-5 ">

	<div class="signup-content ml-auto mr-auto " style="width:70%;" >
		<div class="signup-form ml-0 mr-0 ">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name) ,class:"register-form", id:"register-form") do |form| %>

  <% notif = raw(devise_error_messages!).to_s.gsub('<div id="error_explanation">','') %>
    <% notif = notif.gsub('<h2>','<h2 class="text-danger">')%>
    <% notif = notif.gsub('error prohibited this user from being saved:',' erreur(s)') %>
    <% notif = notif.gsub('errors prohibited this user from being saved:',' erreur(s)') %>

  <% notif = notif.gsub('</div>','') %>
  <% notif = notif.gsub('Username','') %>
  <%= raw('<div class="text-danger font-weight-bold" >'+notif+'</div>') %>

        <div class="form-group">
					<label for="user_username"><i class="zmdi zmdi-account material-icons-name"></i></label>
          <%= form.text_field :username, placeholder:"Login", 'data-toggle' => "tooltip", 'data-placement' =>"bottom" ,'title' =>"Il sera principalement utilisé pour les tchats", required:true  %>
        </div>
				<div class="form-group">
				<table ><tr><td width="10%"><label for="user_indicatif"><i class="fa fa-country"></i></label></td>
				   <td width="30%">

					<!-- <input type="text" pattern="[0-9]{3-6}" name="user[indicatif]" id="user_indicatif" placeholder="Indicatif" data-toggle="tooltip" data-placement="bottom" title="l'indicatif de votre pays de résidence exemple 0022"   required  /> -->
          <select  id="user_indicatif" class="form-control border-bottom  pb-5" name="user[indicatif]" id="user_indicatif" placeholder="Indicatif" data-toggle="tooltip" data-placement="bottom" title="l'indicatif de votre pays de résidence exemple 0022"  style="border:white !important; padding:0px !important; "required>
              <option value="" >&nbsp;&nbsp;&nbsp;Indicatif </option>
          		<option data-countryCode="TG" value="00228">&nbsp;&nbsp;&nbsp;Togo (00228)</option>
          		<option data-countryCode="BJ" value="00229">Benin (00229)</option>
          	  <option data-countryCode="GB" value="0044">UK (0044)</option>
          	  <option data-countryCode="US" value="001">USA (001)</option>
          		<option data-countryCode="DZ" value="00213">Algeria (00213)</option>
          		<option data-countryCode="AD" value="00376">Andorra (00376)</option>
          		<option data-countryCode="AO" value="00244">Angola (00244)</option>
          		<option data-countryCode="AI" value="001264">Anguilla (001264)</option>
          		<option data-countryCode="AG" value="001268">Antigua &amp; Barbuda (001268)</option>
          		<option data-countryCode="AR" value="0054">Argentina (0054)</option>
          		<option data-countryCode="AM" value="00374">Armenia (00374)</option>
          		<option data-countryCode="AW" value="00297">Aruba (00297)</option>
          		<option data-countryCode="AU" value="0061">Australia (0061)</option>
          		<option data-countryCode="AT" value="0043">Austria (0043)</option>
          		<option data-countryCode="AZ" value="00994">Azerbaijan (00994)</option>
          		<option data-countryCode="BS" value="001242">Bahamas (001242)</option>
          		<option data-countryCode="BH" value="00973">Bahrain (00973)</option>
          		<option data-countryCode="BD" value="00880">Bangladesh (00880)</option>
          		<option data-countryCode="BB" value="001246">Barbados (001246)</option>
          		<option data-countryCode="BY" value="00375">Belarus (00375)</option>
          		<option data-countryCode="BE" value="0032">Belgium (0032)</option>
          		<option data-countryCode="BZ" value="00501">Belize (00501)</option>

          		<option data-countryCode="BM" value="001441">Bermuda (001441)</option>
          		<option data-countryCode="BT" value="00975">Bhutan (00975)</option>
          		<option data-countryCode="BO" value="00591">Bolivia (00591)</option>
          		<option data-countryCode="BA" value="00387">Bosnia Herzegovina (00387)</option>
          		<option data-countryCode="BW" value="00267">Botswana (00267)</option>
          		<option data-countryCode="BR" value="0055">Brazil (0055)</option>
          		<option data-countryCode="BN" value="00673">Brunei (00673)</option>
          		<option data-countryCode="BG" value="00359">Bulgaria (00359)</option>
          		<option data-countryCode="BF" value="00226">Burkina Faso (00226)</option>
          		<option data-countryCode="BI" value="00257">Burundi (00257)</option>
          		<option data-countryCode="KH" value="00855">Cambodia (00855)</option>
          		<option data-countryCode="CM" value="00237">Cameroon (00237)</option>
          		<option data-countryCode="CA" value="001">Canada (001)</option>
          		<option data-countryCode="CV" value="00238">Cape Verde Islands (00238)</option>
          		<option data-countryCode="KY" value="001345">Cayman Islands (001345)</option>
          		<option data-countryCode="CF" value="00236">Central African Republic (00236)</option>
          		<option data-countryCode="CL" value="0056">Chile (0056)</option>
          		<option data-countryCode="CN" value="0086">China (0086)</option>
          		<option data-countryCode="CO" value="0057">Colombia (0057)</option>
          		<option data-countryCode="KM" value="00269">Comoros (00269)</option>
          		<option data-countryCode="CG" value="00242">Congo (00242)</option>
          		<option data-countryCode="CK" value="00682">Cook Islands (00682)</option>
          		<option data-countryCode="CR" value="00506">Costa Rica (00506)</option>
          		<option data-countryCode="HR" value="00385">Croatia (00385)</option>
          		<option data-countryCode="CU" value="0053">Cuba (0053)</option>
          		<option data-countryCode="CY" value="0090392">Cyprus North (0090392)</option>
          		<option data-countryCode="CY" value="00357">Cyprus South (00357)</option>
          		<option data-countryCode="CZ" value="0042">Czech Republic (0042)</option>
          		<option data-countryCode="DK" value="0045">Denmark (0045)</option>
          		<option data-countryCode="DJ" value="00253">Djibouti (00253)</option>
          		<option data-countryCode="DM" value="001809">Dominica (001809)</option>
          		<option data-countryCode="DO" value="001809">Dominican Republic (001809)</option>
          		<option data-countryCode="EC" value="00593">Ecuador (00593)</option>
          		<option data-countryCode="EG" value="0020">Egypt (0020)</option>
          		<option data-countryCode="SV" value="00503">El Salvador (00503)</option>
          		<option data-countryCode="GQ" value="00240">Equatorial Guinea (00240)</option>
          		<option data-countryCode="ER" value="00291">Eritrea (00291)</option>
          		<option data-countryCode="EE" value="00372">Estonia (00372)</option>
          		<option data-countryCode="ET" value="00251">Ethiopia (00251)</option>
          		<option data-countryCode="FK" value="00500">Falkland Islands (00500)</option>
          		<option data-countryCode="FO" value="00298">Faroe Islands (00298)</option>
          		<option data-countryCode="FJ" value="00679">Fiji (00679)</option>
          		<option data-countryCode="FI" value="00358">Finland (00358)</option>
          		<option data-countryCode="FR" value="0033">France (0033)</option>
          		<option data-countryCode="GF" value="00594">French Guiana (00594)</option>
          		<option data-countryCode="PF" value="00689">French Polynesia (00689)</option>
          		<option data-countryCode="GA" value="00241">Gabon (00241)</option>
          		<option data-countryCode="GM" value="00220">Gambia (00220)</option>
          		<option data-countryCode="GE" value="007880">Georgia (007880)</option>
          		<option data-countryCode="DE" value="0049">Germany (0049)</option>
          		<option data-countryCode="GH" value="00233">Ghana (00233)</option>
          		<option data-countryCode="GI" value="00350">Gibraltar (00350)</option>
          		<option data-countryCode="GR" value="0030">Greece (0030)</option>
          		<option data-countryCode="GL" value="00299">Greenland (00299)</option>
          		<option data-countryCode="GD" value="001473">Grenada (001473)</option>
          		<option data-countryCode="GP" value="00590">Guadeloupe (00590)</option>
          		<option data-countryCode="GU" value="00671">Guam (00671)</option>
          		<option data-countryCode="GT" value="00502">Guatemala (00502)</option>
          		<option data-countryCode="GN" value="00224">Guinea (00224)</option>
          		<option data-countryCode="GW" value="00245">Guinea - Bissau (00245)</option>
          		<option data-countryCode="GY" value="00592">Guyana (00592)</option>
          		<option data-countryCode="HT" value="00509">Haiti (00509)</option>
          		<option data-countryCode="HN" value="00504">Honduras (00504)</option>
          		<option data-countryCode="HK" value="00852">Hong Kong (00852)</option>
          		<option data-countryCode="HU" value="0036">Hungary (0036)</option>
          		<option data-countryCode="IS" value="00354">Iceland (00354)</option>
          		<option data-countryCode="IN" value="0091">India (0091)</option>
          		<option data-countryCode="ID" value="0062">Indonesia (0062)</option>
          		<option data-countryCode="IR" value="0098">Iran (0098)</option>
          		<option data-countryCode="IQ" value="00964">Iraq (00964)</option>
          		<option data-countryCode="IE" value="00353">Ireland (00353)</option>
          		<option data-countryCode="IL" value="00972">Israel (00972)</option>
          		<option data-countryCode="IT" value="0039">Italy (0039)</option>
          		<option data-countryCode="JM" value="001876">Jamaica (001876)</option>
          		<option data-countryCode="JP" value="0081">Japan (0081)</option>
          		<option data-countryCode="JO" value="00962">Jordan (00962)</option>
          		<option data-countryCode="KZ" value="007">Kazakhstan (007)</option>
          		<option data-countryCode="KE" value="00254">Kenya (00254)</option>
          		<option data-countryCode="KI" value="00686">Kiribati (00686)</option>
          		<option data-countryCode="KP" value="00850">Korea North (00850)</option>
          		<option data-countryCode="KR" value="0082">Korea South (0082)</option>
          		<option data-countryCode="KW" value="00965">Kuwait (00965)</option>
          		<option data-countryCode="KG" value="00996">Kyrgyzstan (00996)</option>
          		<option data-countryCode="LA" value="00856">Laos (00856)</option>
          		<option data-countryCode="LV" value="00371">Latvia (00371)</option>
          		<option data-countryCode="LB" value="00961">Lebanon (00961)</option>
          		<option data-countryCode="LS" value="00266">Lesotho (00266)</option>
          		<option data-countryCode="LR" value="00231">Liberia (00231)</option>
          		<option data-countryCode="LY" value="00218">Libya (00218)</option>
          		<option data-countryCode="LI" value="00417">Liechtenstein (00417)</option>
          		<option data-countryCode="LT" value="00370">Lithuania (00370)</option>
          		<option data-countryCode="LU" value="00352">Luxembourg (00352)</option>
          		<option data-countryCode="MO" value="00853">Macao (00853)</option>
          		<option data-countryCode="MK" value="00389">Macedonia (00389)</option>
          		<option data-countryCode="MG" value="00261">Madagascar (00261)</option>
          		<option data-countryCode="MW" value="00265">Malawi (00265)</option>
          		<option data-countryCode="MY" value="0060">Malaysia (0060)</option>
          		<option data-countryCode="MV" value="00960">Maldives (00960)</option>
          		<option data-countryCode="ML" value="00223">Mali (00223)</option>
          		<option data-countryCode="MT" value="00356">Malta (00356)</option>
          		<option data-countryCode="MH" value="00692">Marshall Islands (00692)</option>
          		<option data-countryCode="MQ" value="00596">Martinique (00596)</option>
          		<option data-countryCode="MR" value="00222">Mauritania (00222)</option>
          		<option data-countryCode="YT" value="00269">Mayotte (00269)</option>
          		<option data-countryCode="MX" value="0052">Mexico (0052)</option>
          		<option data-countryCode="FM" value="00691">Micronesia (00691)</option>
          		<option data-countryCode="MD" value="00373">Moldova (00373)</option>
          		<option data-countryCode="MC" value="00377">Monaco (00377)</option>
          		<option data-countryCode="MN" value="00976">Mongolia (00976)</option>
          		<option data-countryCode="MS" value="001664">Montserrat (001664)</option>
          		<option data-countryCode="MA" value="00212">Morocco (00212)</option>
          		<option data-countryCode="MZ" value="00258">Mozambique (00258)</option>
          		<option data-countryCode="MN" value="0095">Myanmar (0095)</option>
          		<option data-countryCode="NA" value="00264">Namibia (00264)</option>
          		<option data-countryCode="NR" value="00674">Nauru (00674)</option>
          		<option data-countryCode="NP" value="00977">Nepal (00977)</option>
          		<option data-countryCode="NL" value="0031">Netherlands (0031)</option>
          		<option data-countryCode="NC" value="00687">New Caledonia (00687)</option>
          		<option data-countryCode="NZ" value="0064">New Zealand (0064)</option>
          		<option data-countryCode="NI" value="00505">Nicaragua (00505)</option>
          		<option data-countryCode="NE" value="00227">Niger (00227)</option>
          		<option data-countryCode="NG" value="00234">Nigeria (00234)</option>
          		<option data-countryCode="NU" value="00683">Niue (00683)</option>
          		<option data-countryCode="NF" value="00672">Norfolk Islands (00672)</option>
          		<option data-countryCode="NP" value="00670">Northern Marianas (00670)</option>
          		<option data-countryCode="NO" value="0047">Norway (0047)</option>
          		<option data-countryCode="OM" value="00968">Oman (00968)</option>
          		<option data-countryCode="PW" value="00680">Palau (00680)</option>
          		<option data-countryCode="PA" value="00507">Panama (00507)</option>
          		<option data-countryCode="PG" value="00675">Papua New Guinea (00675)</option>
          		<option data-countryCode="PY" value="00595">Paraguay (00595)</option>
          		<option data-countryCode="PE" value="0051">Peru (0051)</option>
          		<option data-countryCode="PH" value="0063">Philippines (0063)</option>
          		<option data-countryCode="PL" value="0048">Poland (0048)</option>
          		<option data-countryCode="PT" value="00351">Portugal (00351)</option>
          		<option data-countryCode="PR" value="001787">Puerto Rico (001787)</option>
          		<option data-countryCode="QA" value="00974">Qatar (00974)</option>
          		<option data-countryCode="RE" value="00262">Reunion (00262)</option>
          		<option data-countryCode="RO" value="0040">Romania (0040)</option>
          		<option data-countryCode="RU" value="007">Russia (007)</option>
          		<option data-countryCode="RW" value="00250">Rwanda (00250)</option>
          		<option data-countryCode="SM" value="00378">San Marino (00378)</option>
          		<option data-countryCode="ST" value="00239">Sao Tome &amp; Principe (00239)</option>
          		<option data-countryCode="SA" value="00966">Saudi Arabia (00966)</option>
          		<option data-countryCode="SN" value="00221">Senegal (00221)</option>
          		<option data-countryCode="CS" value="00381">Serbia (00381)</option>
          		<option data-countryCode="SC" value="00248">Seychelles (00248)</option>
          		<option data-countryCode="SL" value="00232">Sierra Leone (00232)</option>
          		<option data-countryCode="SG" value="0065">Singapore (0065)</option>
          		<option data-countryCode="SK" value="00421">Slovak Republic (00421)</option>
          		<option data-countryCode="SI" value="00386">Slovenia (00386)</option>
          		<option data-countryCode="SB" value="00677">Solomon Islands (00677)</option>
          		<option data-countryCode="SO" value="00252">Somalia (00252)</option>
          		<option data-countryCode="ZA" value="0027">South Africa (0027)</option>
          		<option data-countryCode="ES" value="0034">Spain (0034)</option>
          		<option data-countryCode="LK" value="0094">Sri Lanka (0094)</option>
          		<option data-countryCode="SH" value="00290">St. Helena (00290)</option>
          		<option data-countryCode="KN" value="001869">St. Kitts (001869)</option>
          		<option data-countryCode="SC" value="001758">St. Lucia (001758)</option>
          		<option data-countryCode="SD" value="00249">Sudan (00249)</option>
          		<option data-countryCode="SR" value="00597">Suriname (00597)</option>
          		<option data-countryCode="SZ" value="00268">Swaziland (00268)</option>
          		<option data-countryCode="SE" value="0046">Sweden (0046)</option>
          		<option data-countryCode="CH" value="0041">Switzerland (0041)</option>
          		<option data-countryCode="SI" value="00963">Syria (00963)</option>
          		<option data-countryCode="TW" value="00886">Taiwan (00886)</option>
          		<option data-countryCode="TJ" value="007">Tajikstan (007)</option>
          		<option data-countryCode="TH" value="0066">Thailand (0066)</option>

          		<option data-countryCode="TO" value="00676">00676</option>
          		<option data-countryCode="TT" value="001868">001868</option>
          		<option data-countryCode="TN" value="00216">00216</option>
          		<option data-countryCode="TR" value="0090">0090</option>
          		<option data-countryCode="TM" value="007">007</option>
          		<option data-countryCode="TM" value="00993">00993</option>
          		<option data-countryCode="TC" value="001649">001649</option>
          		<option data-countryCode="TV" value="00688">00688</option>
          		<option data-countryCode="UG" value="00256">00256</option>
          		<option data-countryCode="UA" value="00380">00380</option>
          		<option data-countryCode="AE" value="00971">00971</option>
          		<option data-countryCode="UY" value="00598">00598</option>
          		<option data-countryCode="UZ" value="007">007</option>
          		<option data-countryCode="VU" value="00678">00678</option>
          		<option data-countryCode="VA" value="00379">00379</option>
          		<option data-countryCode="VE" value="0058">0058</option>
          		<option data-countryCode="VN" value="0084">0084</option>
          		<option data-countryCode="VG" value="0084">001284</option>
          		<option data-countryCode="VI" value="0084">001340</option>
          		<option data-countryCode="WF" value="00681">00681</option>
          		<option data-countryCode="YE" value="00969">00969</option>
          		<option data-countryCode="YE" value="00967">00967</option>
          		<option data-countryCode="ZM" value="00260">00260</option>
          		<option data-countryCode="ZW" value="00263">00263</option>

          </select>
          </td>
					<td width="60%">
					<label for="user_phonenumber"><i class="fa fa-phone"></i></label>
          <%= form.text_field :phonenumber,  pattern:"^[0-9].{7,}", placeholder:"Numéro de phone", 'data-toggle' => "tooltip", 'data-placement' =>"bottom" ,'title' =>"Le N° de Tel. permettra aux clients de vous contacter plus rapidement.", required:true  %>
					</td>
				</tr>
				</table>

				</div>
				<div class="form-group">
					<label for="user_email"><i class="zmdi zmdi-email"></i></label>

          <%= form.text_field :email, placeholder:"Email", 'data-toggle' => "tooltip", 'data-placement' =>"bottom" ,'title' =>"L'email nous permettra de rester en contact avec vous. Laisse tel-quel si vous n'avez pas d'adresse email."  %>

      	</div>
				<div class="form-group">
					<%= form.label :Mot_de_passe  do %><i class="zmdi zmdi-lock"></i><%end%>
					<%= form.password_field :password, placeholder:"Password",  required:true %>

				</div>
				<div class="form-group">
					<%= form.label :Confirmation_du_mot_de_passe do %><i class="zmdi zmdi-lock-outline"></i><%end%>
					<input type="password" placeholder="Confirmation mot de passe" type="password" name="user[password_confirmation]" id="user_password_confirmation" data-toggle="tooltip" data-placement="bottom" title="veuillez confirmer votre mot de passe " required />
				</div>
				<div class="form-group mb-0">
					<input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
					<label for="agree-term" class="label-agree-term"><span><span></span></span>J'accepte <a href="<%=cgu_path %>" class="term-service">Termes et conditions de service</a></label>
				</div>
				<div class="form-group mt-0">
					<input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
					<label for="remember-me" class="label-agree-term"><span><span></span></span>J'accepte recevoir les offres commerciales de Etinsel</label>
				</div>
				<div class="form-group form-button">
				<div class="row">
				   <div class="col-sm-6">
					 <input type="submit" name="signup" id="signup" class="form-submit"  name="commit" value="S&#39;inscrire" data-disable-with="S&#39;inscrire" />
				   </div>
				   <div class="col-sm-6">
					<input type="reset" class="btn-annuler" data-dismiss="modal" value="Annuler" />
					</div>
				</div>
				</div>

			<%end%>
		</div>
		<div class="signup-image "  >
			<figure><img src="/regform/images/signup-image.jpg" alt="sing up image"></figure>
			<a href="#" class="signup-image-link"  data-toggle="modal" data-target="#loginModal" data-dismiss="modal" >Je suis déjà membre</a>
		</div>
	</div>

</div>
