<!------------ Sign in and sign up modal content -------------->
    <!-- Font Icon -->
    <link rel="stylesheet" href="/regform/fonts/material-icon/css/material-design-iconic-font.min.css">
    <!-- Main css -->
    <link rel="stylesheet" href="/regform/css/style.css">
<!------------------------------------------------------------->
<div class="row sign_in_and_sign_up__header_title">
  <div class="col-md-12 h-100 "  >
    <br>
    <h1 style=" font-size:5vw; padding:0px; margin:0px; margin-left:50px;"  >S'inscrire </h1>
  </div>
</div>
<!-- Modal body -->
<div class="modal-body mt-5 mb-5 ">

	<div class="signup-content ml-auto mr-auto " style="width:70%;" >
		<div class="signup-form ml-0 mr-0 ">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name) ,class:"register-form", id:"register-form") do |form| %>

  <% notif = raw(devise_error_messages!).to_s.gsub('<div id="error_explanation">','') %>
    <% notif = notif.gsub('<h2>','<h2 class="text-danger">')%>
    <% notif = notif.gsub('error prohibited this user from being saved:',' erreur(s)') %>
    <% notif = notif.gsub('errors prohibited this user from being saved:',' erreur(s)') %>

  <% notif = notif.gsub('</div>','') %>
  <% notif = notif.gsub('Username','') %>
  <%= raw('<div class="text-danger font-weight-bold" >'+notif+'</div>') %>

        <div class="form-group">
					<label for="user_username"><i class="zmdi zmdi-account material-icons-name"></i></label>
          <%= form.text_field :username, placeholder:"Login", 'data-toggle' => "tooltip", 'data-placement' =>"bottom" ,'title' =>"Il sera principalement utilisé pour les tchats", required:true  %>
        </div>
				<div class="form-group">
					<label for="user_phonenumber"><i class="fa fa-phone"></i></label>
          <%= form.text_field :phonenumber,  pattern:"[0-9].{7,}", placeholder:"Numéro de phone ex : 0022906123456 ", 'data-toggle' => "tooltip", 'data-placement' =>"bottom" ,'title' =>"Le N° de Tel. permettra aux clients de vous contacter plus rapidement.", required:true  %>


				</div>
				<div class="form-group">
					<label for="user_email"><i class="zmdi zmdi-email"></i></label>

          <%= form.text_field :email, placeholder:"Email", 'data-toggle' => "tooltip", 'data-placement' =>"bottom" ,'title' =>"L'email nous permettra de rester en contact avec vous. Laisse tel-quel si vous n'avez pas d'adresse email."  %>

      	</div>
				<div class="form-group">
					<%= form.label :Mot_de_passe  do %><i class="zmdi zmdi-lock"></i><%end%>
					<%= form.password_field :password, placeholder:"Password",  required:true %>

				</div>
				<div class="form-group">
					<%= form.label :Confirmation_du_mot_de_passe do %><i class="zmdi zmdi-lock-outline"></i><%end%>
					<input type="password" placeholder="Confirmation mot de passe" type="password" name="user[password_confirmation]" id="user_password_confirmation" data-toggle="tooltip" data-placement="bottom" title="veuillez confirmer votre mot de passe " required />
				</div>
				<div class="form-group mb-0">
					<input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
					<label for="agree-term" class="label-agree-term"><span><span></span></span>J'accepte <a href="<%=cgu_path %>" class="term-service">Termes et conditions de service</a></label>
				</div>
				<div class="form-group mt-0">
					<input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
					<label for="remember-me" class="label-agree-term"><span><span></span></span>J'accepte recevoir les offres commerciales de Etinsel</label>
				</div>
				<div class="form-group form-button">
				<div class="row">
				   <div class="col-sm-6">
					 <input type="submit" name="signup" id="signup" class="form-submit"  name="commit" value="S&#39;inscrire" data-disable-with="S&#39;inscrire" />
				   </div>
				   <div class="col-sm-6">
					<input type="reset" class="btn-annuler" data-dismiss="modal" value="Annuler" />
					</div>
				</div>
				</div>

			<%end%>
		</div>
		<div class="signup-image "  >
			<figure><img src="/regform/images/signup-image.jpg" alt="sing up image"></figure>
			<a href="#" class="signup-image-link"  data-toggle="modal" data-target="#loginModal" data-dismiss="modal" >Je suis déjà membre</a>
		</div>
	</div>

</div>
