<div class="row jumbotron"
    style="height: 250px; border:solid 0px black; background-image:url(<%=@wall_pic_Photo_file%>); background-size:cover; background-repeat:no-repeat; background-position:center;"
  >
  <div class="" style=" cursor:pointer; position:absolute; right: 0px; top:80px; width:80px; padding:10px; margin-top:0px; background-color:rgba(0,0,0,0.5);" data-toggle="modal" data-target="#wall_picModal" data-title="wall_pic">
      <center><b style="margin-top:10px; ">Changer</b></center>
 </div>
          <div class="col-sm-2 " >
            <div class="card" style="border:solid 2px white;  width:200px; height:200px; margin-bottom:-100px; background-image:url(<%=@profil_pic_Photo_file%>); background-size:cover; background-repeat:no-repeat; background-position:center;">
             <div class="" style="cursor:pointer; width:100%; height:50px; margin-top: 160px; background-color:rgba(0,0,0,0.5);"  data-toggle="modal" data-target="#profil_picModal" data-title="profil_pic">
                 <center><b style="margin-top:10px; ">Changer</b></center>
            </div>
            </div>
          </div>
          <div class="col-sm-10">

          </div>
</div>
<div class="row">
    <div class="col-md-3 order-md-1" >
      <ul class="_list-group" style="margin:0px; padding:0px; border-radius:0px;">       
        <a href="/monprofil" class="list-group-item">Mon profil</a>
                <a href="<%=mesannonces_path%>" class="list-group-item">Mes annonces</a>
        <a href="/monprofil/messages" class="list-group-item">Messages</a>
        <a href="/monprofil/chats" class="list-group-item">Chats</a>
      </ul>


      <div class="" id="people-list">
        <!-- <div class="search">
          <input type="text" placeholder="Recherche" />
          <!-- i class="fa fa-search"></i -->
        <!-- </div> -->

        <ul class="list">

            <%for online in @users_online %>
          <li class="clearfix  ">
            <img src="<%= online[2] %>" alt="avatar"  width="50" height="50" align="middle"/>
            <%= online[1] %>
                <i class="fa fa-circle online"></i> En ligne

          </li>
            <%end %>

        </ul>
      </div>





    </div>

    <div class="col-md-9 order-md-2 bg-white">

      <%if @identity.name.blank?%>

      <div class=" blink_me alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h1>Veuillez complet <strong>votre identité !</strong>.</h1>
      </div>
        <%end%>


       <% if @contenu.nil? || @contenu.blank? %>
          <%= render "/privatepages/monprofil_partials/index" %>
       <%elsif @contenu == "identiter" %>
       <div class="row">

       <div class="col-md-12 order-md-1">
           <h1 class="mb-3 font-weight-bold">Votre identité </h1>
           <%= render "/identities/form" %>
           <br/>
             </div>
           </div>

           <%elsif @contenu == "login" %>
           <div class="row">
             <h1 class="mb-3 font-weight-bold">Changer mes parametres d'authentification </h1>
           <div class="col-md-6 order-md-1">

               <%= render "/devise/registrations/login_edit" %>
               <br/>
            </div>
            <div class="col-md-6 order-md-1">

                <br/>
             </div>
            </div>

                   <%-elsif @contenu == "mot_de_passe" %>
                   <div class="row">
                     <h1 class="mb-3 font-weight-bold">Changer mon mot de passe </h1>
                   <div class="col-md-6 order-md-1">

                       <%= render "privatepages/monprofil_partials/password_edit" %>
                       <br/>
                    </div>
                    <div class="col-md-6 order-md-1">

                        <br/>
                     </div>
                    </div>

                  <%-elsif @contenu == "messages" %>
                      <div class="row">
                          <div class="col-md-12 order-md-1">
                            <h1 class="mb-3 font-weight-bold">Messages </h1>
                            <br/>
                               <%= render "privatepages/monprofil_partials/messages" %>
                               <br/>
                          </div>
                      </div>
                                  <%-elsif @contenu == "chats" %>
                                      <div class="row">
                                          <div class="col-md-12 order-md-1">
                                            <h1 class="mb-3 font-weight-bold">Discusion instantanée </h1>
                                            <br/>
                                               <%= render "privatepages/monprofil_partials/chats" %>
                                               <br/>
                                          </div>
                                      </div>
                                <%end-%>

   </div>
</div>

<!---  WALL PIC  MODAL --->

<div class="modal fade" id="wall_picModal" tabindex="-1" role="dialog" aria-labelledby="wall_picModal" aria-hidden="true"  style="z-index:999999">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="fond_d_ecranModalLabel">Changer ma photo de couverture </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="location.replace('/monprofil');" >
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">

        <%= form_for(@wall_pic_Photo) do |form| %>
          <% if @wall_pic_Photo.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

              <ul>
              <% @photo.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
            <%= form.hidden_field :role, value:"wall_pic" %>
            <div class="field">
              <span id="preview"></span>
            </div>
          <div class="field">
            <%= form.file_field :photo , class:"form-control" %>
          </div>
          <%= form.hidden_field :user_id, value:current_user.id %>
        <div class="actions">
                <%= form.submit "Changer", class:"btn btn-lg btn-block btn-warning text-white" %>
          </div>
        <% end %>

      </div>
  </div>
</div>
</div>


<!---  PROFIL PIC  MODAL --->

<div class="modal fade" id="profil_picModal" tabindex="-1" role="dialog" aria-labelledby="profil_picModal" aria-hidden="true"  style="z-index:999999">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="fond_d_ecranModalLabel">Changer ma photo de profil </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="location.replace('/monprofil');" >
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">

        <%= form_for @profil_pic_Photo  do |form| %>
          <% if @profil_pic_Photo.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

              <ul>
              <% @photo.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
            <%= form.hidden_field :role, value:"profil_pic" %>
          <div class="field">
            <%= form.file_field :photo  , class:"form-control"  %>
          </div>
            <%= form.hidden_field :user_id, value:current_user.id %>
          <div class="actions">
            <%= form.submit "Changer", class:"btn btn-lg btn-block btn-warning  text-white" %>
          </div>
        <% end %>

      </div>
  </div>
</div>
</div>
