<%#
# Application Layout

This view template is used as the layout
for every page that Administrate generates.

By default, it renders:
- Navigation
- Content for a search bar
  (if provided by a `content_for` block in a nested page)
- Flashes
- Links to stylesheets and JavaScripts
%>

<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">
  <meta name="ROBOTS" content="NOODP">
  <meta name="viewport" content="initial-scale=1">
  <title>
    <%= content_for(:title) %> - <%= Rails.application.class.parent_name.titlecase %>
  </title>
  <%= render "stylesheet" %>
  <!-- Bootstrap core CSS -->
  <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="/dist/js/jquery.3.3.1.min.js"></script>
  <%= csrf_meta_tags %>
  <script>
      /* admin home content */
      function adminhomecontent(content) {
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
              if (xhttp.readyState == 4 && xhttp.status == 200) {
                  // alert(country)
                  document.location.reload();
                  document.getElementById("homecontent").innerHTML = xhttp.responseText;
              }
          };
          xhttp.open("GET", "/homes/"+content+"/", true);
          xhttp.send();
      }
  </script>

<style><!-- .field-unit__field{width:100% !important;} --></style>
</head>
<body>
  <!-- <%= render "icons" %> -->
  <div class="toHeader" style="width:100%; height:100px; background-color:RGB(246, 247 , 247); ">
    <table width="100%">
      <tr style="hover:none; cursor:pointer;">
        <td align="left" valign="center" width="150"><img src="/img/logo.png"  width="100" height="50" align="middle"  style="border:solid 0px black;"/></td>
        <td align="left" valign="center">
          <h5 style="padding:0px !important; margin:0px !important; width:100%;">
             <b>ADMINISTRATEUR</b>
            <b style="float:right; font-size:10px;">Version beta</b>
          </h5>
        </td>
      </tr>
    </table>
  </div>
  <div class="app-container" style="margin-top:-50px;">
    <%= render "navigation" -%>
    <main class="main-content" role="main">
      <%= render "flashes" -%>
      <%= yield %>
    </main>
  </div>
  <center> &copy; 2018 etinsel .Inc</center>
  <br/>
  <%= render "javascript" %>
</body>
</html>
