
<%= form_for(@user, url: password_path(@user), html: { method: :put ,class:"needs-validation", novalidate:true  }) do |f| %>

  <%= f.hidden_field :reset_password_token %>

  <div class="mb-3">
    <%= f.label "Nouveau mot de passe" %> <i></i>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-fw fa-lock"></i></span>
      </div>
            <%= f.password_field :password, autocomplete: "new-password" , class:"form-control", required:true%>
      <div class="invalid-feedback" style="width: 100%;">
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
    </div>
  </div>

  <div class="mb-3">
  <%= f.label :password_confirmation, "Confirmer le nouveau mot de passe" %>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-fw fa-lock"></i></span>
      </div>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:"form-control", required:true %>
      <div class="invalid-feedback" style="width: 100%;">
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
    </div>
  </div>


  <div class="actions">
    <%= f.submit "Changer mon mot de passe", class:"btn btn-block btn-lg btn-primary" %>
  </div>




<% end %>
