<%= form_with(model: vue, local: true) do |form| %>
  <% if vue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vue.errors.count, "error") %> prohibited this vue from being saved:</h2>

      <ul>
      <% vue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :annonce_id %>
    <%= form.text_field :annonce_id %>
  </div>

  <div class="field">
    <%= form.label :pays %>
    <%= form.text_field :pays %>
  </div>

  <div class="field">
    <%= form.label :ville %>
    <%= form.text_field :ville %>
  </div>

  <div class="field">
    <%= form.label :quartier %>
    <%= form.text_field :quartier %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
