<%= render "layouts/partials/homePageHeader" %>

	<!-- Icon Boxes -->
<div class="container-fluid accueil mb-5 mt-2">
<div class="row mt-0">

  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 mt-4" >
    <div class="card " >
      <div class="card-body immobilier" >
<a class="" style="text-decoration:none; color:rgb(228,77, 33);"  href="<%=annonces_path%>">
    <div class="row">
	  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
		   <i class="fa fa-bullhorn" style="padding:0px; font-size:500%;" ></i>
	  </div>
	  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-12 ml-0 mr-0 ">
	  		   <h2 class="card-title font-weight-bold">IMMOBILIER</h2>
	        <p class="card-text text-left">
		   <b>Gagne de l’argent en louant ta maison ! Prends une photo, ajoute-la et vends sans frais.</b>
        </p>
	  </div>
	  </div>
  </a>

	  </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 mt-4" >
    <div class="card " >
      <div class="card-body rencontre" >
	  <div class="row">
	  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
		   <i class="fa fa-comments" style=" padding:0px; font-size:500%;" ></i>
	  </div>
	  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-12 ml-0 mr-0  ">
	  		   <h2 class="card-title font-weight-bold">RENCONTRE</h2>
	        <p class="card-text text-left">
		   <b>Rejoingnez les millons d'utillisteurs d'entinsel de par le monde. </b>

        </p>
	  </div>
	  </div>

	  </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 mt-4" >
    <div class="card " >
      <div class="card-body actualite" >
	  <div class="row">
	  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
		   <i class="fa fa-file-text" style=" padding:0px; font-size:500%;" ></i>
	  </div>
	  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-12 ml-0 mr-0  ">
	  		   <h2 class="card-title font-weight-bold">ACTUALITÉ</h2>
	        <p class="card-text text-left">
		   <b>Rejoingnez les millons d'utillisteurs d'entinsel de par le monde. </b>
        </p>
	  </div>
	  </div>

	  </div>
    </div>
  </div>

</div>
</div>

<a name="icon_boxes"></a>
<div class="container">
	<hr style="padding:0px; margin:0px; " />
	<div class="container">
		<div class="row">

			<% cptAn=-1 %>
			<% for annonce in @annonces %>
				<% cptAn=cptAn+1%>

				<% if cptAn == 3 %>
					</div>
					<div class="row mt-3 mb-3 ml-0 mr0" >
						<div class="col-md-12 ml-0 mr0 text-center" style="border:solid 0px black;"" >
						<img class="img-fluid" src="/img/banner1500X300_<%= rand(0..2) %>.gif" height="300" width="100%"  style="border:0px; padding:0px; margin-left:-12px; margin-right:-12px;" />
					</div>
					</div>
					<div class="row" >
				<%end%>
				<% @photos =  annonce.photos%>
				<div class="col-md-4">
					<div class="card ml-1 mr-1 mt-1" style="min-height: 300px !important; ">
						<div id="carousel<%= annonce.id %>Indicators" class="carousel slide" data-ride="carousel" style="height:200px; background-image:url(/img/annonceListImgPlaceholder.png); background-position:center; background-repeat:no-repeat;">
							<ol class="carousel-indicators">
								<% j = 0 %>
								<% for photo in @photos %>
									<% if photo.to_s !="" %>
										<li data-target="#carousel<%= annonce.id %>Indicators" data-slide-to="<%= j %>" <% if 1 == 0 %> class="active" <% end %>></li>
									<%end%>

									<% j = j+1 %>
								<% end %>
							</ol>
							<div class="carousel-inner">
								<% i = 0 %>
								<%  for photo in @photos %>
									<% if photo.to_s !="" %>
										<% i = i + 1 %>
										<div class="carousel-item bg-secondary <% if i == 1 %> active <% end %> ">
											<center>
												<%= image_tag(photo, class:"d-block image-responsive hover-shadow cursor", height:"200", onclick:"openModal();currentSlide(1)" )%>
											</center>
										</div>
									<% end %>
								<% end %>
							</div>
							<a class="carousel-control carousel-control-prev" href="#carousel<%= annonce.id %>Indicators" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control  carousel-control-next" href="#carousel<%= annonce.id %>Indicators" role="button" data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
						<p class="ml-2 mr-2" ><b class="text-success" style="font-size:14px; text-transform:uppercase;" >  </b><br><b><a style="color:black; Text-Transform: capitalize; text-decoration:none;" href="/annonces/<%= annonce.id %>"><%= annonce.designation %></a></b></p>
					</div>
				</div>

			<% end %>
      </div>
			</div>

			</div>

</div>
<div class="container mt-2 mb-2">
	   <div class="row">
			    <div class="col-12">
						<br/><br/><br/>
					</div>
		 </div>
</div>

<div class="container">
     <div class="row">
					 <div class="col-md-12 text-justify "
							 <% if !@accueil.content.blank? %>
										 <%=raw(@accueil.content)%>
							 <%end%>
		       </div>
		 </div>
</div>

<div class="container mt-2 mb-2">
	<div class="row">
		<div class="col-12">
			<br/><br/><br/>
		</div>
	</div>
</div>
