<!-- footer slider start -->
<div class="container-fluid footer t-0" style="height:300px;" >
	<div class="row my-auto" >
		<div id="myCarousel col-md-12" style="width:100%; height:250px;  margin:0px; padding:0px;" class="carousel slide" data-ride="carousel">

			<div class="carousel-inner" style="margin:0px; padding:0px;" >
				<div class="carousel-item active" >
					<div class="container-fluid">
						<div class="row featurette" >
							<div class="col-md-8">
								<div style="width:60%; margin:0 auto;">
									<p class="">
									<h1>App bientôt disponible </h1>
									<b>Rejoingnez les millons d'utillisteurs d'entinsel de par le monde </b>
									<br/> <br/>
									<img src="/img/googlePlayStore.png" width="50%" ><img src="/img/appstore.png" width="50%" >
									</p>
								</div>
							</div>
							<div  class="d-none d-sm-block col-md-4"  style="margin-right:-10px; background-image:url('/img/appUsers.jpg'); background-position:center; background-repeat:no-repeat; height:300px; background-size:100% 300px; "  >

							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item " >
					<div class="container-fluid">
						<div class="row featurette" >
							<div class="col-md-8">
								<div style="width:60%; margin:0 auto;">
									<p class="">
									<h1>Actualité</h1>
									<b>Rejoingnez les millons d'utillisteurs d'entinsel de par le monde </b>
									<br/> <br/>
									<img src="/img/go_on_etinsel.png" width="50%" >
									</p>
								</div>
							</div>
							<div  class="d-none d-sm-block col-md-4"  style="margin-right:-10px; background-image:url('/img/slider_1.png'); background-position:center; background-repeat:no-repeat; height:300px; background-size:100% 300px; "  >

							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item " >
					<div class="container-fluid">
						<div class="row featurette" >
							<div class="col-md-8">
								<div style="width:60%; margin:0 auto;">
									<p class="">
									<h1>Rencontre</h1>
									<b>Rejoingnez les millons d'utillisteurs d'entinsel de par le monde </b>
									<br/> <br/>
									<img src="/img/go_on_etinsel.png" width="50%" >
									</p>
								</div>
							</div>
							<div  class="d-none d-sm-block col-md-4"  style="margin-right:-10px; background-image:url('/img/slider_2.png'); background-position:center; background-repeat:no-repeat; height:300px; background-size:100% 300px; " >

							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item " >
					<div class="container-fluid">
						<div class="row featurette" >
							<div class="col-xs-8 col-md-8 col-sm-8 ">
								<div style="width:60%; margin:0 auto;">
									<p class="">
									<h1>Immobilier</h1>
									<b>Gagne de l’argent en louant ta maison ! </b> Prends une photo, ajoute-la et vends sans frais.
									<b>Rejoingnez les millons d'utillisteurs d'entinsel de par le monde </b>
									<br/><br/>
									<img   src="/img/go_on_etinsel.png" width="50%" >
									</p>
								</div>
							</div>
							<div class="d-none d-sm-block col-md-4" style="margin-right:-10px; background-image:url('/img/slider_3.png'); background-position:center; background-repeat:no-repeat; height:300px; background-size:100% 300px; " >

							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>


<!--- Footer slider end --->
			<div class="container-fluid bg-white ">
        			<br/>
				<div class="mt-2 mb-2 ml-auto mr-auto container" width="70%" border="0px;">
				    <div class="row" ><div class="col-md-12"><h3>Ville des 50 dernières annonces </h3></div></div>
					<div class="row">
          <% if !@last50pays.nil?  %>
      					<% i=0 %>
      					<% for pays in @last50pays %>
      					    <%i=i+1%>
      					    <% if i==1 || i==11 %>
      							<div class="col-md-4" class="text-left text-secondary" >
      						<%end%>
                              <%= pays.ville %>
                        <br/>
      						<% if i==0 %>
                </div>
      						<%end%>
                  <% end %>
          <% end %>
          </div>
				</div>
            <br/><br/>
        </div></div>


        <div class="container-fluid footer">
             <div class="row " style=" margin:0px; padding:0px;	background-image:url(/img/footerBg.png);
             background-position:top;
             background-repeat:no-repeat;
             background-size: 100% 170px;">

                <div class="container my-auto">
                      <div class="row">
                                <div class="col-sm-4 col-xs-12">
                                  <img src="/img/footerLogo.png" align="middle" height="">


                   						 <img src="/img/playstoreLogo.png" height="20" width="20" align="middle">
                   						 <img src="/img/logo_apple.png" height="20" width="20"  align="middle">

                                Bientôt disponible
                                 </div>

                                 <div class="col-sm-4 col-xs-12">
                                 </div>

                                 <div class="col-sm-4  col-xs-12 mt-0 ">

                                   <i class="fa fa-twitter" style="padding:7px;" ></i>
                                   <i class="fa fa-facebook" style="padding:7px;" ></i>
                                   <i class="fa fa-instagram" style="padding:7px;" ></i>
                                   <i class="fa fa-linkedin" style="padding:7px;" ></i>
                                   <i class="fa fa-google-plus" style="padding:7px;" ></i>
                                   <i class="fa fa-pinterest" style="padding:7px;" ></i>

                                   <a href="/contacts/new" class="border border-white text-white" style="padding:10px; border-radius:15px; font-weight:bold;" > Contactez nous</a>
                                 </div>
                    </div>
                    <div class="row"><div class="col-12"> <br class="d-xl-none" /><hr/> </div></div>
                    <div class="row" >
                              <div class="col-12 mt-2">
                                &copy; 2018 etinsel .Inc
                                <a href="<%=cgu_path%>" style="float:right; color:white; text-decoration:none;"> Condition Générale d'Utilisation (CGU) </a>
                               </div>
                  </div>


    </main>

<!-------------------------------------------------------- LE MODALL -------------------------------------->
<!------------ Sign in and sign up modal content -------------->

    <!-- Font Icon -->
    <link rel="stylesheet" href="/regform/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/regform/css/style.css">
<!------------------------------------------------------------->

<!-- The Modal -->
<div class="modal fade" id="loginModal" style="z-index:99999;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
	  <h2 class="modal-title" style="color:black !important;" >Se connecter</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="/regform/images/signin-image.jpg" alt="sing up image"></figure>
                        <a href="<%= new_user_registration_path %>" class="signup-image-link" >Créer un compte</a>
                    </div>
                    <div class="signin-form">
					<%= form_tag new_user_session_path,class:"register-form", id:"login-form" do -%>

                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" placeholder="Login"  name="user[login]" data-toggle="tooltip" data-placement="bottom" title="Nom d'utilisateur ou numéro de téléphone ou email"  required />
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" placeholder="Mot de passe" name="user[password]"  required />
                            </div>

                            <div class="form-group form-button text-center">
                                <input type="submit"  id="signin" class="form-submit font-weight-bold" value="Se connecter"  name="commit"  data-disable-with="Log in"  />
                            </div>
                        <%end%>

                    </div>
                </div>




      </div>

      <!-- Modal footer -->
      <div class="modal-footer">

      </div>

    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="signupModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
	  <h2 class="modal-title">S'inscrire</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
                <div class="signup-content ml-0 mr-0 ">
                    <div class="signup-form ml-0 mr-0 ">

                         <%= form_with model: @newuser, url:new_user_registration_path, method:"post",action:"create", class:"register-form", id:"register-form"  do |form| -%>
                            <div class="form-group">
                                <label for="user_username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="user[username]" id="user_username" placeholder="Pseudo"  required />
                            </div>
                            <div class="form-group">
							<table ><tr>
							   <td>
                                <label for="user_indicatif"><i class="fa fa-country"></i></label>
                                <input type="text" name="user[indicatif]" id="user_indicatif" placeholder="Indicatif"  required  />
								</td>
								<td>
                                <label for="user_phonenumber"><i class="fa fa-phone"></i></label>
                                <input type="text" name="user[phonenumber]" id="name" placeholder="Numéro de phone"   required  />
								</td>
                            </tr>
							</table>
							</div>
                            <div class="form-group">
                                <label for="user_email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="user[email]" name="user[email]" id="user_email"  placeholder="Email" data-toggle="tooltip" data-placement="bottom" title="Laisse tel-quel si vous n'avez pas d'adresse email"/>
                            </div>
                            <div class="form-group">
                                <label for="user_password"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="user[password]" id="user_password" placeholder="Password" required />
                            </div>
                            <div class="form-group">
                                <label for="user_password_confirmation"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" placeholder="Confirmation mot de passe" type="password" name="user[password_confirmation]" id="user_password_confirmation"  required />
                            </div>
                            <div class="form-group mb-0">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>J'accepte <a href="#" class="term-service">Termes et conditions de service</a></label>
                            </div>
							<div class="form-group mt-0">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>J'accepte recevoir les offres commerciales de Etinsel</label>
                            </div>
                            <div class="form-group form-button">
							<div class="row">
							   <div class="col-sm-6">
                                 <input type="submit" id="signup" class="form-submit"  name="commit" value="S&#39;inscrire" data-disable-with="S&#39;inscrire" />
							   </div>
							   <div class="col-sm-6">
								<input type="reset" class="btn-annuler" data-dismiss="modal" value="Annuler" />
								</div>
                            </div>
							</div>

						<%end%>
                    </div>
                    <div class="signup-image "  >
                        <figure><img src="regform/images/signup-image.jpg" alt="sing up image"></figure>
                        <a href="#" class="signup-image-link"  data-toggle="modal" data-target="#loginModal" data-dismiss="modal" >Je suis déjà membre</a>
                    </div>
                </div>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">

      </div>

    </div>
  </div>
</div>

<!-- The country modal -->
<%= render "layouts/partials/countrypopup"  %>
<!------------------------------------------------------------------------------------------------>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/dist/js/bootstrap.min.js"></script>
	<script>
window.onscroll = function() {myFunction()};

var header = document.getElementById("navbar");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();

    $(document).ready(function() {
$('#dataTables').DataTable( {
    language: {
        processing:     "Traitement en cours...",
        search:         "Rechercher&nbsp;:",
        lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
        info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
        infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
        infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
        infoPostFix:    "",
        loadingRecords: "Chargement en cours...",
        zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
        emptyTable:     "Aucune donnée disponible dans le tableau",
        paginate: {
            first:      "Premier",
            previous:   "Pr&eacute;c&eacute;dent",
            next:       "Suivant",
            last:       "Dernier"
        },
        aria: {
            sortAscending:  ": activer pour trier la colonne par ordre croissant",
            sortDescending: ": activer pour trier la colonne par ordre décroissant"
        }
    }
} );
    } );
$('.dataTables_filter>label').addClass('text-right');
</script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script>
      $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();
        });

        window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
        });
        }, 10000);

    $('#homeBody').on('click',function(){
	    $('html,body').animate({scrollTop: $("a[name=icon_boxes]").offset().top},'slow');
    });
    </script>
    <script>
        $(function () {
            $('#modal').modal('toggle');
        });
    </script>
	<% if session[:pays].nil? || session[:pays].to_s.blank? %>
    <script type="text/javascript">
    $.get("http://ipinfo.io", function(response){
      //setpaystrie(response.country);
	    sessionStorage.setItem("pays", response.country);
        $("#pays").html(sessionStorage.getItem("pays"));
    }, "jsonp");
    </script>
<% end  %>
