<p id="notice"><%= notice %></p>

<h1>Publicites</h1>

<table>
  <thead>
    <tr>
      <th>Resolution</th>
      <th>Entreprise</th>
      <th>Duree</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publicites.each do |publicite| %>
      <tr>
        <td><%= publicite.resolution %></td>
        <td><%= publicite.entreprise %></td>
        <td><%= publicite.duree %></td>
        <td><%= link_to 'Show', publicite %></td>
        <td><%= link_to 'Edit', edit_publicite_path(publicite) %></td>
        <td><%= link_to 'Destroy', publicite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Publicite', new_publicite_path %>
