<p id="notice"><%= notice %></p>
<style><!-- ul{list-style-type:none;}--></style>
    <div class="row clearfix">
        <div class="people-list col-xl-3 col-lg-3 col-sm-3 col-md-3 col-xs-3" id="people-list">
          <div class="search">
            <input type="text" placeholder="Recherche" />
            <!-- i class="fa fa-search"></i -->
          </div>
          Membre(s) inscrit(s) actuellement en ligne.
          <br/>

          <ul class="list">

              <%for online in @users_online %>
            <li class="clearfix  ">
              <img src="<%= online[2] %>" alt="avatar"  width="50" height="50"/>
              <div class="about">
                <div class="name"><%= online[1] %></div>
                <div class="status">
                  <i class="fa fa-circle online"></i> En ligne
                </div>
              </div>
            </li>
              <%end %>

          </ul>
        </div>

        <div class="  col-xl-9 col-lg-9 col-sm-9 col-md-9 col-xs-9 chat">


          <div class="chat-header clearfix">
            <img src="/img/inconnu.png" width="80" height="80" alt="avatar" />

            <div class="chat-about">
              <div class="chat-with"><h3> <b float="right" >Tchat public</b>   <%= @publictchats_count %> message(s) </h3></div>
              <div class="chat-num-messages">
                  <%= Time.now.strftime("%d-%m-%Y") %>
                  &nbsp;
                  <br/>
                  Vous etes: <%= session[:tchater]%>
              </div>
            </div>
            <i class="fa fa-star"></i>
          </div> <!-- end chat-header -->

          <div class="chatHistory" style="height:60% !important" >

        <%  if session[:tchater].blank? %>
<form method="get">
        <div class="mb-3">
          <label for="pseudo">Vous devez choisir un pseudo </label>
          <div class="input-group">
            <input type="text" class="form-control" id="pseudo" name="pseudo"  placeholder="Pseudo" required>
            <div class="input-group-prepend">
              <button type="submit" name="commit" class="input-group-text btn btn-warning font-weight-bold" > Valider </button>
            </div>
            <div class="invalid-feedback" style="width: 100%;">
              Un pseudo est obligatoire.
            </div>
          </div>
        </div>
</form>
        <% else%>
            <ul>
            <%  for message in @publictchats %>
                <% if message.name == session[:tchater] %>
                    <li>
                          <div class="message-data">
                            <span class="message-data-name"><i class="fa fa-circle online"></i><%=message.name%></span>
                            <span class="message-data-time"><%=message.created_at%></span>
                          </div>
                          <div class="message my-message">
                            <%=message.message%>
                          </div>
                    </li>
                <%else%>
                    <li class="clearfix">
                        <div class="message-data align-right">
                          <span class="message-data-time" ><%=message.created_at%></span> &nbsp; &nbsp;
                          <span class="message-data-name" ><%=message.name%></span> <i class="fa fa-circle me"></i>

                        </div>
                        <div class="message other-message float-right">
                        <%=message.message%>
                        </div>
                  </li>
            <%end%>
            <%end%>
            </ul>

            <%end%>

          </div> <!-- end chat-history -->

          <div class="chat-message clearfix">
            <input type="hidden" name="name" id="name" value="<%=session[:tchater]%>" />
            <textarea name="messageToSend" id="message-to-send" placeholder ="Taper votre message ici" rows="3"></textarea>


          </div> <!-- end chat-message -->
        </div> <!-- end chat -->
      </div> <!-- end my-container -->

  	<script src="/dist/js/jquery.3.3.1.min.js"></script>
