<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @publictchat.name %>
</p>

<p>
  <strong>Message:</strong>
  <%= @publictchat.message %>
</p>

<%= link_to 'Edit', edit_publictchat_path(@publictchat) %> |
<%= link_to 'Back', publictchats_path %>
